.medium 
{
    background-color: #C8C8C8!important;
}

.linkDecor{
    text-decoration: none !important;
}

.reportComments{
    background-color: #f8f8f8!important;
}
.blackText
{
    color: #000!important
}

.breadcrumbItem > a,.breadcrumbItem > a:hover       
{
color: #000
}
.btn-outline-primary{
    border-width:1.7px!important;
}
.btn-outline-secondary{
    border-width:1.7px!important;
}
.btn-outline-pinkish{
    border-width:1.7px!important;
}


