/* .Coursetags {
	background-color:#707070 !important ;
} */

/* .PrimaryOne {
	background-color:#a00407 !important ;
} */

/* .PrimaryTwoBackground{
    background-color:#FEFEFE !important;
}

.PrimaryTwo{
    color: #FEFEFE!important;

} */

/* .CardBackground{
    background-color:#F8F8F8 !important;

} */

/* .outline{
    background-color:#000 !important ;
} */

.medium 
{
    background-color: #C8C8C8!important;
}

.linkDecor{
    text-decoration: none !important;
}

.secondaryText{
    color: #FEFEFE!important;
}

#courseReportsFilter
{
        color: #FEFEFE!important;

}

.reportComments{
    background-color: #f8f8f8!important;
}
.blackText
{
    color: #000!important
}

.breadcrumbItem > a,.breadcrumbItem > a:hover       
{
color: #000
}

