#createCourseForm {
	max-width: 75%;
	margin: auto;
}

#floatingLabel {
	margin-left: 1rem;
}

#addSubject {
	width: auto;
	height: 2.5rem;
}

.trashButton {
	padding: 0 !important;
	border: 0 !important;
	margin-left: 0.5rem;
	background-color: #fff !important;
}
.trashIcon {
	width: 1rem;
	height: 1rem;
	color: #dc3545;
}

.error {
	color: #dc3545 !important;
}
.accordionHeaderWidth {
	width: 100%;
	border-top-right-radius: 0!important;
}
.accordionTrash {
	border: 0 !important;
	margin: 0;
	/* background-color: #e7f1ff !important; */
	color: #fff !important;
}
#hours {
	margin-left: 1rem;
}

.accordionLikeCard {
	background-color: #e7f1ff !important;
}

.questionTitle,
.videoUrl {
	margin-bottom: 0;
	padding: 0.5rem 0;
}
.accordionLikeDeleteButton {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	width: 100%;
}

.accordionLikeEditButton {
	border-radius: 0 !important;
	width: 100%;
}

textarea {
	overflow: hidden;
}

.questionTitleContainer {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
