body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#main-body,
#root,
#main-form {
	height: 100%;
}

.courseCardLabel {
	width: 10% !important;
}

.viewCourseButton,
.starsContainer,
.priceContainer,
.nextButton {
	margin-left: auto;
}

.courseCardTitle,
priceLabel {
	width: fit-content !important;
}

.success {
	color: #4bb543;
}

.error {
	color: #dc3545;
}

.textFit {
	width: fit-content !important;
}
