body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#main-body,
#root,
#main-form {
	height: 100%;
}

.courseCardLabel {
	width: 10% !important;
}

.viewCourseButton,
.starsContainer,
.priceContainer,
.nextButton {
	margin-left: auto;
}

.courseCardTitle,
.fitWidth {
	width: fit-content !important;
}

.fitHeight {
	height: fit-content !important;
}

.success {
	color: #4bb543;
}

.error {
	color: #dc3545;
}

.textFit {
	width: fit-content !important;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.navbarZ-index {
	z-index: 4 !important;
	position: sticky !important;
	top: 0;
}
.drawerZ-index > div > div {
	z-index: 1;
}

/* Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	/* background: red; */
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(121, 119, 119);
}

.css-cveggr-MuiListItemIcon-root {
	min-width: auto !important;
}
/* Scrollbar End */

.solved {
	opacity: 1 !important;
}
#continueCourseBreadcrumbs {
	height: auto;
	min-height: 3rem !important;
}
#continueCourseBreadcrumbs > div > nav > ol {
	margin-bottom: 0 !important;
}
.cut-text {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 10rem;
	height: 1.2em;
	white-space: nowrap;
}

html {
	overflow-y: overlay;
}

.breadcrumbItem > a,
.breadcrumbItem > a:hover {
	text-decoration: none;
	cursor: auto;
}

.clearRatingButton {
	background-color: rgba(0, 0, 0, 0) !important;
	border-color: #dc3545 !important;
}

.ratingColor {
	color: rgb(255, 188, 11);
}

.progress-bar {
	background-color: #ffc057 !important;
	border-radius: 0 !important;
}
.reviewDate {
	margin-bottom: 0.05rem;
}
.specialRating {
	color: #373a3c !important;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
		sans-serif;
}
.h7 {
	font-size: 0.85rem;
}

.signUps {
	height: 100vh;
}
